.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background: black;
}

.sidebar h5 {
  padding: 15px 0 15px 20px;
  color: #fff;
  margin-bottom: 0;
}

.content-area {
  margin-left: 250px;
  padding: 30px;
}

.emails-list {

}

.emails-list .single-email {

}